@mixin transition-autoprefixer {
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition :.5s;
}


@mixin borderRadius-autoprefixer {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

@mixin CircelborderRadius{
  -webkit-border-radius: 50%;
  -moz-border-radius:  50%;
  -ms-border-radius:  50%;
  -o-border-radius:  50%;
  border-radius:  50%;
}
