.links {
  padding: 10px 0 20px 0;
  display: flex;
  justify-content: space-between;
  .fa-bars-staggered{
    @include transition-autoprefixer;
    &:hover{
      color: $themeColor;
      cursor: pointer;
    }
  }
  .row {
    align-items: center;
  }
  .app-links {
    li {
      margin: 0 15px;
      &:hover {
        padding-left: 10px;
      }
    }
  }

  .menuheader {
    position: fixed;
    top: 0;
    right: 100%;
    width: 25%;
    background-color: #f2f2f2;
    height: 100vh;
    z-index: 9999;
    overflow: auto;

    .head-back {
      cursor: pointer;
      text-transform: uppercase;

      h4 {
        @include transition-autoprefixer;
        &:hover {
          color: $themeColor;
          padding-left: 10px !important;
        }
      }
    }
    .links {
      position: relative;

      ul {
        li {
          margin-bottom: 20px;
          font-size: 18px;
          @include transition-autoprefixer;
          cursor: pointer;
          .fa-chevron-right {
            position: absolute;
            right: 30px;
          }
          &:hover {
            color: $themeColor;
            @include transition-autoprefixer;
          }
        }
      }
    }

    .social-icons {
      position: absolute;
      bottom: 0;
      width: 100%;
      ul {
        margin-left: -10px;
        li {
          margin-right: 20px;
          margin-left: 18px;
          font-size: 30px;
          cursor: pointer;
          &:hover {
            color: $themeColor;
            @include transition-autoprefixer;
          }
        }
      }
    }
  }
  .menuheader.visible {
    left: 0;
  }

  .menuheader.close {
    left: 100%;
  }
}

.my-acc {
  .nav-link {
    font-weight: bold;
    &::after {
      display: none;
    }
  }
  .fa-user {
    color: $themeColor;
  }
  .dropdown-menu {
    background-color: #fff;
    margin-top: 5px;

    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    a {
      color: #333;
      font-weight: 500;
      padding-left: 5px;

      &:hover {
        color: $themeColor;
        padding-left: 10px;
      }
    }
  }
}

